#loggedUserContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#loggedUserIcon {
    width: 65px;
    height: auto;
    border-radius: 20px;
    margin: 0px 10px;
}

#username {
    font-size: 23px;
    margin: 0px 10px;
}