#loginContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(-48px);
    z-index: -1;
    background-image: linear-gradient(117deg, rgba(255, 231, 76, 1) 0%, rgba(255, 53, 67, 1) 100%);
}

#loginContainer #login {
    max-width: 450px;
    min-width: 350px;
    width: 30%;
    margin: 150px auto;
    background-color: white;
    border-radius: 25px;
    transition: box-shadow 0.35s ease-in;
}

#loginContainer #login:hover {
    box-shadow: 1rem 1rem rgba(216, 216, 216, 0.685);
}

#loginContainer #headerTittle {
    text-align: center;
    font-weight: 600;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 2rem;
}

#loginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginContainer #rowContainer {
    padding: 3rem 0 1rem;
    width: 70%;
}

#loginContainer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
}

#loginContainer .row label {
    align-self: start;
    padding-bottom: 0.8rem;
    font-size: 1.4rem;
}

#loginContainer .row input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 1.4rem;
    padding-bottom: 0.8rem;
    box-shadow: inset 0px -2px 0px 0px rgba(145, 145, 145, 0.5);
    transition: box-shadow 0.3s ease-in;
}

#loginContainer .row input::placeholder {
    color: rgba(85, 85, 85, 0.644);
    transition: color 0.15s ease-in;
}

#loginContainer .row input:focus {
    color: rgba(39, 39, 39, 0.9);
    outline: none;
    box-shadow: inset 0px -2.5px 0px 0px rgba(39, 39, 39, 0.9);
}

#loginContainer .row input:focus::placeholder {
    color: transparent;
}

#loginContainer .errors {
    color: red;
    margin: 0.5rem 0;
    font-size: 1.08rem;
}

#loginContainer #submitButton {
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    background: rgb(255, 231, 76);
    background: linear-gradient(117deg, #ffe74c, #ff3543, #ffe74c);
    background-size: 250%;
    background-position: left;
    font-weight: 700;
    border: 0px;
    cursor: pointer;
    margin: 2rem;
    transition: width 0.4s ease-in, background-position 0.4s ease-in;
}

#loginContainer #submitButton:hover {
    width: 82%;
    background-position: right;
}