#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar-item {
    padding: 10px;
}

.navbar-item .navbar-link {
    text-decoration: none;
    color: black;
    font-size: 23px;
}